#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Ensure icons are always visible */
.sidebar-menu-icon {
  display: inline-block;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 10px; /* Adjust spacing as needed */
}

/* Adjust icon styles when sidebar is collapsed */
.sidebar-collapsed .sidebar-menu-icon {
  margin-right: 0; /* Remove spacing when sidebar is collapsed */
  display: block; /* Ensure icons are displayed as block elements */
  margin: 0 auto; /* Center the icons */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* For Firefox */
}
